<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.praveen.mastermusiccontrolwidget" >

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MasterMusicControl"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.example.praveen.mastermusiccontrolwidget.UniversalMusicWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service android:name="com.example.praveen.mastermusiccontrolwidget.MediaControlService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">>
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
            <intent-filter >
                <action android:name="com.example.praveen.controller.action_button"/>
            </intent-filter>

            </service>
    </application>

</manifest>
